# Ignore Streamlit secrets
.streamlit/secrets.toml

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore virtual environment folders
venv/
env/
.venv/

# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db

secrets.toml

markdown

TEST.ipynb

.vscode